<div class="container-fluid">
    <div class="row">
        <div class="col-2"
            style="height:100vh;background-color: rgb(188, 217, 241);overflow-x: hidden;position: fixed;z-index: 1;">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="col-2">

        </div>
        <div class="col-10">
            <div style="padding-top: 25px;">
                <app-header></app-header>
            </div>
            <hr>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h4>Reset Password</h4>
                    <form #resetForm="ngForm">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" required #pass="ngModel"
                                [class.is-invalid]="pass.invalid && pass.touched" name="pass" class="form-control"
                                id="pass" [(ngModel)]="resetModel.pass">
                            <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Password is
                                required.</small>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" required #cpass="ngModel"
                                [class.is-invalid]="cpass.invalid && cpass.touched" name="cpass" class="form-control"
                                id="cpass" [(ngModel)]="resetModel.cpass">
                            <small class="text-danger" [class.d-none]="cpass.valid || cpass.untouched">Confirm Password
                                is required.</small>
                        </div>
                        <button type="submit" [disabled]="resetForm.form.invalid"
                            class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                        <button routerLink="/forgotpwd" class="btn btn-secondary">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>